@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
--PDarkcyan: hsl(185, 75%, 39%);
--PVerydarkdesaturatedblue: hsl(229, 23%, 23%);
--PDarkgrayishblue: hsl(227, 10%, 46%);
--NDarkgray: hsl(0, 0%, 59%);
}

*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit
}

html {
    font-size: 62.5%;
}

body {
    font-family:'Kumbh sans', sans-serif ;
    font-weight: normal;
    height: 100vh;
    background-color:var(--PDarkcyan);
    color: black;
    overflow: hidden;
    box-sizing: border-box;
    line-height: 1.7;
}

.card{
    height: 60vh;
    width: 25vw;
    min-width: 400px;
    border-radius: 15px;
    justify-self: center;
    background:white;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.background{
    height: 35%;
    width: 100%;
    background: url("/images/bg-pattern-card.svg");
    background-size: cover;
}
.victor{
    height: 13rem;
    width: 13rem;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    top: -15%;
    margin: 0 auto;
    background: url("/images/image-victor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.data{

    margin: 0 auto;
    width: 50%;
    text-align: center;
    position: relative;
    top:-10%;
    font-weight: 700;
}
.data > p{
    font-size: 2rem;
    font-weight: bolder;
}
.Age,.place{
    font-weight: normal;
    color: var(--PDarkgrayishblue);
}
.stats{
    height: 25%;
    width: 100%;
    border-top: 1px solid var(--NDarkgray);
    position: absolute;
    bottom:0%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 2rem;
}
.d{
    font-weight: normal;
    font-size: 1.5rem;
    color: var(--PDarkgrayishblue);
}

@media screen and (max-width:480px) {
    body{
        padding:10px;
    }
    .card{
        width: 90%;
        min-width: 90%;
    }
}

@media screen and (max-width:768px) {
    .card{
        width: 80%;
        max-width: 400px;
    }
}